@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
 
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
   max-width: 1000px;
  margin: 0 auto;
 
}
/* sheard styles */
.color-1 {
  color: rgb(0, 0, 0);
}

.color-2 {
  color: rgba(0, 0, 0, 0.5);
}

.color-or {
  color: rgb(233, 90, 8);
}
.display {
  display: none;
}
/* navber */
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item a {
  text-decoration: none;
}
.list-item li {
  list-style: none;
}
.list-item ul {
  display: flex;
  gap: 48px;
}
.banner-container {
  display: flex;
  justify-content: center;
}
.banner {
  margin: 120px auto;
}
.banner-left h2 {
  font-size: 65px;
  font-weight: 700;
  line-height: 60px;
}
.banner-left p {
  font-size: 14px;
}
/* our plants */
.our-plants {
  width: 70%;
  margin: 120px;
  text-align: center;
  line-height: 25px;
}
.our-plants h1 {
  font-size: 50px;
  font-weight: 700;
}
.our-plants p {
  font-size: 17px;
  font-weight: 400;
}
/* card */
.hero-card {
  max-width: 1440px;
  margin: 0 auto;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.card-container {
  max-width: 100%;
  background-color: #ffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.card-title {
  padding: 10px;
  text-align: center;
}
.card-container img {
  width: 100%;
  border-radius: 8px;
}

.card-container h4 {
  font-size: 22px;
  font-weight: 400;
  color: #111111;
}
.card-container span {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  line-height: 20px;
}
.btn-primary {
  background-color: rgb(233, 90, 8);
  color: #ffff;
  padding: 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}
/* flower */
.flower {
  margin: 135px auto;
}
.flower-point {
  display: flex;
  gap: 60px;
}
.flower-title h1 {
  font-size: 50px;
  font-weight: 700;
  color: #111111;
}
.flower-title ul li {
  font-size: 17px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.flower-title img {
  width: 286px;
  height: 286px;
  margin-left: -50%;
  margin-right: -50%;
  margin-top: -30%;
  margin-bottom: -20%;
}
/* text deals */
.deals {
  width: 65%;
  margin: 120px auto;
  text-align: center;
  line-height: 25px;
}
/* image set */
.image {
  display: flex;
  gap: 20px;
  margin-bottom: 120px;
}
.image-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.image-right {
  width: 70%;
}
.left-container-1 {
  position: relative;
  border-radius: 20px;
  height: 180px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/deal-ana.png),
    linear-gradient(rgba(0, 0, 0, 0.4));
}
.left-container-2 {
  position: relative;
  border-radius: 20px;
  height: 180px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/deal-bloom.png),
    linear-gradient(rgba(0, 0, 0, 0.4));
}
.title {
  color: white;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.title h2 {
  font-size: 20px;
  font-weight: 700;
}
.title-right {
  color: white;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.title-right h1 {
  font-size: 36px;
  font-weight: 800;
}
.title-right a {
  color: white;
  text-decoration: underline;
  font-weight: 800;
  display: inline-block;
  margin-top: 8px;
}
.title a {
  color: white;
  text-decoration: underline;
  font-weight: 800;
  display: inline-block;
  margin-top: 8px;
}
.right-container {
  position: relative;
  border-radius: 20px;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/deal-zabo.png),
    linear-gradient(rgba(0, 0, 0, 0.4));
}
/* flower banner */
.image-title {
  position: relative;
  width: 100%;
  padding: 100px 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/news-letter-bg.png),
    linear-gradient(rgba(0, 0, 0, 0.4));
}
.subcrib {
  background-color: white;
  width: 50%;
}
.image-title h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.flower-banner {
  height: 500px;
  margin-bottom: 50px;
}

/* footer */
.footer {
  margin: 50px;
  display: flex;
}

.ankor {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  margin: 0 auto;
  gap: 32px;
}
.footer a {
  text-decoration: none;
 
}
.icon {
  gap: 32px;
}

@media (max-width: 568px) {
  .navber {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 20px;
  }
  .list-item .hidden {
    display: none;
  }
  .banner {
    margin: 13px;
  }
  img {
    width: 100%;
  }
  .banner-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .banner-left h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    margin-right: 50%;
  }
  .banner-left p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
  }
  .our-plants {
    width: 80%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
  }
  .our-plants p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }
  .our-plants h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
  }
  /* card */
  .card {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }
  .btn-primary {
    font-size: 12px;
  }

  /* flower */
  .flower {
    margin: 20px;
  }
  .flower-point {
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
  }
  .flower-title img {
    display: none;
  }
  .flower-title ul li {
    width: 100%;
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    gap: 20px;
    padding: 0 auto;
  }
  .flower-title h1 {
    font-size: 24px;
    
  }
  /* deals */
  .deals-title p {
    font-size: 13px;
    line-height: 16px;
  }
  .deals {
    width: 80%;
  }

  /* flower card */
  .image {
    flex-direction: column;
    margin: 50px;
  }
  .left-container-1 {
    font-size: 20px;
    font-weight: 700;
  }
  .title-right h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .image-left {
    width: 100%;
  }
  .image-right {
    width: 100%;
    height: 180px;
  }
  /* flower banner section */
  .flower-banner {
    height: 275px;
  }
  .image-title h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  /* footer */
  .footer {
    flex-direction: column;
    align-content: start;
    margin-top: 50px;
  }
  .footer-title img {
    width: 50%;
  }
  .ankor {
    display: flex;
    flex-direction: column;
    margin-right: 170px;
  }
  .footer-icon {
    display: flex;
    margin-top: 20px;
    max-width: 20%;
    gap: 20px;
  }
}
